[submodule "external/crcle"]
	path = external/crcle
	url = https://github.com/jopadan/crcle
[submodule "external/stdtype"]
	path = external/stdtype
	url = https://github.com/jopadan/stdtype
[submodule "external/libzippp"]
	path = external/libzippp
	url = https://github.com/ctabin/libzippp
